{% for link in links %}
   {% if link.linkgroup.private==0 %}
    <li class="clip">
    <div class="clip-content">
            <ul class="clip-save" style="list-style:none">
                <li class="btn-group">
                    <a  title="+save" class="btn dropdown-toggle settings" data-toggle="dropdown" href="#">
                        <span><i class="icon icon-save"></i>save</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right" >
                        {% for g in user.groups%}
                        <li >
                            <a href="/link/save/{{g.id}}/{{link.id}}" class="rss" title="save this link into {{g.group_name}}">
                                {{g.group_name}}
                            </a>
                        </li>
                        
                        {% end %}
                    </ul>
                </li>
                
            </ul>
            <div class="clip-save-popup"></div>
            <span class="clip-date"><i class="icon icon-date"></i> {{ link.updated }}</span>
            <a rel="nofollow" style="width:650px" title="{{link.description}}" class="clip-title" target="_blank" href="{{ link.url }}">{{ link.title }}</a>

            <p class="domain">
                
                <span>{{ link.url_domain }}</span>
                <span>›</span>
                <span>added by <a title="{{ link.linkgroup.user.username }}" href="/user/{{ link.linkgroup.user_id }}">{{ link.linkgroup.user.username }}</a></span>
                <span class="comment-count"><a title="Comment" href="/me/comment/{{link.id}}/%2Fme%2Frecent_links"><i class="icon icon-comment"></i>
                {% if link.comments_count > 0%}
                    <strong> {{ link.comments_count }}</strong>
                {% end %}                           
                    Comment
                </a></span>
                <span>
                    {% set id_list = [like.user_id for like in link.likes] %}
                    {% if not user.id in id_list %}
                    <a class="like" href="/like/{{ link.id }}">
                        <i class="icon icon-like"></i>
                        <span>
                            {% if link.like_count > 0 %}
                                {{ link.like_count}} Likes
                            {% else %}
                                Like
                            {% end %}
                        </span>
                    </a>
                    {% else %}
                    <a class="like" href="/cancel_like/{{ link.id }}">
                    <i class="icon icon-like"></i>
                        <span>
                            cancel
                        </span>
                    {% end %}
                </span>
                
           
               
            </p>
    </div>
</li>  
{% end %}
{% end %}