{% for link in links %}
<li class="clip">
	<div class="clip-content">
		<ul class="clip-save" style="list-style:none">
			<li class="btn-group">
				<a title="+save" class="btn dropdown-toggle settings" data-toggle="dropdown" href="#">
					<span><i class="icon icon-save"></i>save</span>
					<span class="caret"></span>
				</a>
					<ul class="dropdown-menu pull-right">
						{% for g in groups %}
						<li>
							<a href="/link/save/{{g.id}}/{{link.id}}" class="rss" title="save this link into good">
							{{g.group_name}}
							</a>
						</li>

					</ul>
				</li>
			</ul>
		<div class="clip-save-popup"></div>
		<span class="clip-date"><i class="icon icon-date"></i> {{link.created}}</span>
		<a rel="nofollow" style="width:450px" class="clip-title" target="_blank" href="{{link.url}}">{{link.title}}</a>
		<p class="domain">
			<span>{{link.url_domain}}</span>
			<span>›</span>
			<span>added by <a title="{{link.linkgroup.user.username}}" href="/user/{{link.linkgroup.user.id}}">{{link.linkgroup.user.username}}</a></span>
			<span class="comment-count">
				<a title="Comment" href="/me/comment/{{link.id}}/%2Fme%2Ffeed"><i class="icon icon-comment"></i>
				Comment</a>
			</span>
			<span>
				<a class="like " href="#">
				<i class="icon icon-like"></i>
				<span>likes</span>
				</a>
			</span>
		</p>
	</div>
</li>
{% end %}
{% if ret_count < 10 %}
<li class="clip">
	<div class="clip-content">
		<span class="clip-title"> You have reached the bottom!</span>
	</div>
</li>
{% end %}
