{% for link in links %}
<li data-cid="c24" class="clip ui-draggable">
    <div class="display">
        <div class="clip-content">
            <span class="clip-date">
                <i class="icon icon-date"></i> 
                {{ link.updated }}
            </span>
            <a rel="nofollow" title="{{link.description}}" style="width:500px" class="clip-title" target="_blank" href="{{ link.url }}">
                {{ link.title }}
             </a>
            <p class="domain">
                <i class="fav" >
                </i>
                <span>
                    {{ link.url_domain }}
                </span>
                <span>
                    · <span class="comment-count">
                        <a href="/me/comment/{{link.id}}/%2Fme%2Fmylinks" title="Comment">
                            <i class="icon icon-comment">
                            </i>
                            Add comment
                        </a>
                    </span>
                </span>
                <span>
                   {% set id_list = [like.user_id for like in link.likes] %}
                    {% if current_user.id not in id_list %}
                    <a class="like" href="/like/{{ link.id }}">
                        <i class="icon icon-like"></i>
                        <span>
                            {% if link.like_count > 0 %}
                                {{ link.like_count}} Likes
                            {% else %}
                                Like
                            {% end %}
                        </span>
                    </a>
                    {% else %}
                    <a class="like" href="/cancel_like/{{ link.id }}">
                    <i class="icon icon-like"></i>
                        <span>
                            cancel
                        </span>
                    {% end %}
                </a>
                </span>
            </p>
        </div>
        <ul class="pull-right" style="list-style:none;font-size:16px">
            
            <li style="width:15px;display:inline;margin:0 5px">
                <a style="color:#848484" title="edit" href="/link/edit/{{link.id}}/%2Fme%2Fgroup%2F{{link.linkgroup.id}}">
                    E 
                </a>
            </li>|
            <li style="width:15px;display:inline;margin:0 5px">
                <a style="color:#848484" title="remove" href="/delete/mylink/{{link.id}}">
                    X 
                </a>
            </li>|
            <li class="dropdown" style="width:15px;display:inline;margin:0 5px">
                <a style="color:#848484" title="move" href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span>M</span>
                <span class="caret"></span></a>
                
                <ul class="dropdown-menu pull-right">
                    {% for g in groups%}
                        <li >
                            <a href="/link/move/{{g.id}}/{{link.id}}" class="rss" title="save this link into {{g.group_name}}">
                                {{g.group_name}}
                            </a>
                        </li>
                        
                    {% end %}
                    
                </ul> 
            </li>
            
        </ul>
    </div>
</li>
{% end %}

{% if ret_count < 10 %}
<li class="clip">
    <div class="clip-content">
        <span class="clip-title"> You have reached the bottom!</span>
    </div>
</li>
{% end %}