{% extends "me_nocontent.html" %}
{% block script %}
<script type="text/javascript">

function validate_required(field,alerttxt)
{
    with (field)
    {
        if (value==null||value=="")
        {
            alert(alerttxt);return false
        }
        else 
        {
            return true
        }
    }
}

function validate_form(thisform)
{
    with (thisform)
    {
        if (validate_required(groupname,"Input groupname!")==false)
        {
            groupname.focus();return false
        }
    }
}
</script>
{% end %}
{% block content %}
<div id="edit-list-modal" style="display: block;"><div class="kippt-modal">
        <div class="content">
            <a class="close" href="/redirect/pre">×</a>          
            <h2>Edit Group</h2>
            
            <form class="invite" onsubmit="return validate_form(this)"  action="/me/editgroup/{{group.id}}/%2Fme%2Fgroup%2F{{group.id}}" method="POST">
                <label for="list-create-name"><strong>Group name</strong></label>
                <input type="text" value="{{group_name}}" placeholder="eg. Programming" id="list-create-name" name="groupname">
                
                <label for="list-create-description"><strong>Description</strong> (optional)</label>
                <textarea id="list-create-description" placeholder="Add notes, highlights or #tags..." name="group_description">{{group.description}}</textarea>
                
                <div class="controls">
                    {% if group.private == 0 %}
                    <label for="list-create-privacy-public" class="radio">
                        <input type="radio" checked="checked" value="public" name="list-sharing" id="list-create-privacy-public"><strong>Public</strong><br>Anyone can view clips and comments
                    </label>
                    <label for="list-create-privacy-private" class="radio">
                        <input type="radio" value="private" name="list-sharing" id="list-create-privacy-private"><strong>Private</strong> <i class="icon icon-lock"></i> <br>Only collaborators can view
                    </label>
                    {% else %}
                    <label for="list-create-privacy-public" class="radio">
                        <input type="radio" value="public" name="list-sharing" id="list-create-privacy-public"><strong>Public</strong><br>Anyone can view clips and comments
                    </label>
                    <label for="list-create-privacy-private" class="radio">
                        <input type="radio" checked="checked" value="private" name="list-sharing" id="list-create-privacy-private"><strong>Private</strong> <i class="icon icon-lock"></i> <br>Only collaborators can view
                    </label>
                    {% end %}
                </div>
                
                <div class="actions">
                    <input type="submit" class="btn btn-green" value="Save Group">
                    <!-- <input type="reset" class="cancel btn btn-white" value="Cancel"> -->
                </div>
                <div class="error"></div>
            </form>
        </div>
    </div>
</div>
{% end %}