{% extends "me_options.html" %}

{% block option_body %}
<div class="public-share public-list">
    <div id="clips" style="display: block;">
        <div class="clearfix" style="height:100px;">
            <div id="list-info">
                <h3 title="All Links" class="name">
                   My Feed
                </h3>
            </div>
            <div id="new-clip"></div>
        </div>
        <div id="clips-container">
            <ul class="unstyled" id="clip-list" style="display: block;">
                {% set count_link = 0 %}
               {% for link in links %}
               {% set count_link = count_link + 1 %}
                <li class="clip">
                    <div class="clip-content">
                        <ul class="clip-save" style="list-style:none">
                            <li class="btn-group">
                                <a  title="+save" class="btn dropdown-toggle settings" data-toggle="dropdown" href="#">
                                    <span><i class="icon icon-save"></i>save</span>
                                    <span class="caret">

                                    </span>
                                </a>
                                <ul class="dropdown-menu pull-right" >
                                    {% for g in user.groups%}
                                    <li >
                                        <a href="/link/save/{{g.id}}/{{link.id}}" class="rss" title="save this link into {{g.group_name}}">
                                            {{g.group_name}}
                                        </a>
                                    </li>
                                    
                                    {% end %}
                                </ul>
                            </li>
                        </ul>
                        <div class="clip-save-popup"></div>
                        <span class="clip-date"><i class="icon icon-date"></i> {{ link.created }}</span>
                        <a rel="nofollow" title="{{link.description}}" style="width:450px"class="clip-title" target="_blank" href="{{ link.url }}">{{ link.title }}</a>

                        <p class="domain">
                            <span>{{ link.url_domain }}</span>
                            <span>›</span>
                            <span>added by <a title="{{ link.linkgroup.user.username }}" href="/user/{{ link.linkgroup.user_id }}">{{ link.linkgroup.user.username }}</a></span>
                            <span class="comment-count">
                                <a title="Comment" href="/me/comment/{{link.id}}/%2Fme%2Ffeed"><i class="icon icon-comment"></i>
                                    {% if link.comments_count > 0%}
                                    <strong> {{ link.comments_count }}</strong>
                                    {% end %}
                                    Comment
                                </a>
                            </span>
                            <span>
                                <a class="like  " href="#">
                                    <i class="icon icon-like"></i>
                                    <span>
                                        {% if link.like_count > 0 %}
                                            {{ link.like_count}} likes
                                        {% else %}
                                            likes
                                        {% end %}
                                    </span>
                                </a>
                            </span>
                        </p>
                    </div>
                </li>
                {% end %}
            </ul>
            {% if count_link == 10 %} 

            <div style="display:block;margin:15px 10px;text-align:center;font-size:23px" id="load-more">
                <a class="click-load-more" href="javascript:void(0);" style="color: #848484;" onclick="getmore();">Click here to view more!</a>
            </div>
            {% end %}
           
<script type="text/javascript">
var fetch_url = "/loadmore";
var next_page = 2; 
function getmore(){
$.post(fetch_url,
    {
      type:1,
      page_num:next_page
    },
    function(data){
        if(200 == data.status_code)
        {
            $("#clip-list").append(data.ret);
            next_page = next_page + 1;            
        }
        else if (202 == data.status_code)
        {
            $("#load-more").remove();
        }
    },"json");
}
</script>
            <div id="no-clips" style="display: none;">
                <p>
                    <strong>Find clips to add to this list</strong>
                    You can add links with extensions, bookmarklets and via email. 
                    <a href="/tools/">View the tools</a>
                </p>
                <p class="no-collaborate">
                    <strong>Collaborate with your team.</strong> 
                    Invite people to this list and easily share useful links
                </p>
                <p class="no-public">
                    <strong>Make your list public</strong>. 
                    Share the interesting things you find and save.
                </p>
            </div>
            <div id="no-search-results" style="display: none;">No search results.
            </div>
        </div>
    </div>
</div>
{% end %}

{% block tailjs %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
{% end %}
