<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{% block title %} {{ group.group_name }} | Share your links with others! {% end %}</title>
    <meta charset="utf-8">
    <meta name="author" content="Share">
    <link rel="shortcut icon" href="{{static_url("images/favicon.ico")}}" type="image/x-icon">
    <link rel="icon" href="{{static_url("images/favicon.ico")}}" type="image/x-icon">
    {% block custom_css %}
      <link rel="stylesheet" href=" {{ static_url("css/group.css") }}" type="text/css">
    {% end %}
</head>
<body class=" logged-out ">
<div class="topbar">
    <div class="container"> 
        <h3 class="logo">
            <a href="/" class="brand">
                Share
            </a>
        </h3>
            <ul class="nav secondary-nav beta-access"> 
                  <li class="nav-discover"><a href="">Discover</a></li>
              </ul>
            <div class="spromo">The best place for your links.</div>
            <ul class="nav actions">
                <li><a href="/login" >Log In</a></li>
                <li><a href="/signup" >Sign Up</a></li>
            </ul>
            
        
    </div><!-- /fill --> 
</div><!-- /topbar -->

{% block content %}
<div class="container" id="body">
   
<div class="public-share public-list">
    <div class="side">
        <h2>{{ group.group_name }}</h2>
        
        <p>{{ _("Group description") }}</p>
        <h6>{{ group.links_count }} clips · {{ group.follower_count}} followers</h6>
        <a class="btn" data-target="#signup-modal" data-link="modal" href="#">Follow this list</a>
        <hr>
        <h4>Author</h4>
        <ul class="collaborators">
            <li><a href="/{{ group.user.id }}">{{ group.user.username }}</a></li>
        </ul>
        <hr>
        <!-- <h6>Share list</h6> -->
    </div>
    
    <div class="main-column">
        <ul style="display:block" id="clip-list">
            {% for link in group.links %}
                <li class="clip">
                <div class="clip-content">
                        <a class="clip-save" href="/link/save/{{link.id}}"><i class="icon icon-save"></i> Save</a>
                        <div class="clip-save-popup"></div>
                        <span class="clip-date"><i class="icon icon-date"></i> {{ link.created }}</span>
                        <a rel="nofollow" class="clip-title" target="_blank" href="{{ link.url }}">{{ link.title }}</a>

                        <p class="domain">
                            <i style="background-image:url('');" class="fav"></i>
                            <span>{{ link.url_domain }}</span>
                            <span>›</span>
                            <span>added by <a title="{{ group.user.username }}" href="/user/{{ group.user_id }}">{{ group.user.username }}</a></span>
                            <span class="comment-count"><a title="Comment" href="#"><i class="icon icon-comment"></i>
                            {% if link.comments_count > 0%}
                                <strong> {{ link.comments_count }}</strong>
                            {% end %}                           
                                Comment
                            </a></span>
                            <span>
                                <a class="like  " href="#">
                                    <i class="icon icon-like"></i>
                                    <span>
                                        {% if link.like_count > 0 %}
                                            {{ link.like_count}} likes
                                        {% else %}
                                            likes
                                        {% end %}
                                    </span>
                                </a>
                            </span>
                        </p>
                </div>
            </li>
            {% end %}
        </ul>
    </div>
</div>   <!-- /container -->
</div>
{% end %}
<footer style="text-align:center">
    <p>
        <a href="#">About us</a>
        <a href="#">Press</a>
        <a href="#">Contact</a>
        <a href="#" target="_blank">Blog</a>
    </p>
</footer>
    
</body></html>