{% extends "me_nocontent.html" %}

{% block content %}
<div class="container" id="body">
   
<div class="public-share public-list">
    <div class="side">
        <h2>{{ group.group_name }}</h2>
        
        <p>{{ _("Group description") }}</p>
        <h6>{{ group.links_count }} clips · {{ group.follower_count}} followers</h6>
        {% if group.user.id!=user.id %}
            {% set following_list = [gg.group_id for gg in user.following_groups] %}
                {% if group.id not in following_list %}
                    <a class="btn" title="follow" href="/follow/group/{{group.id}}">Follow this group</a>
                {% else %}
                    <a class="btn" title="unfollow" data-target="#signup-modal" data-link="modal" href="/unfollow/group/{{group.id}}">Following</a>
                {% end %}
        {% end %}
        <hr>
        <h4>Author</h4>
        <ul class="collaborators">
            <li><a href="/user/{{ group.user.id }}">{{ group.user.username }}</a></li>
        </ul>
        <hr>
        <!-- <h6>Share list</h6> -->
    </div>
    
    <div class="main-column">
        <ul style="display:block" id="clip-list">
            {% for link in group.links %}
                <li class="clip">
                <div class="clip-content">
                        {% if group.user.id!=user.id %}
                        <ul class="clip-save" style="list-style:none">
                            <li class="btn-group">
                                <a title="+save" class="btn dropdown-toggle settings" data-toggle="dropdown" href="#">
                                    <span><i class="icon icon-save"></i>save</span>
                                    <span class="caret">

                                    </span>
                                </a>
                                <ul class="dropdown-menu pull-right" >
                                    {% for g in user.groups%}
                                    <li >
                                        <a href="/link/save/{{g.id}}/{{link.id}}" class="rss" title="save this link into {{g.group_name}}">
                                            {{g.group_name}}
                                        </a>
                                    </li>
                                    
                                    {% end %}
                                </ul>
                            </li>
                            
                        </ul>
                        {%else%}
                        <ul class="pull-right" style="list-style:none;font-size:16px;padding-top:30px">
                        
                        <li style="width:15px;display:inline">
                            <a style="color:#848484" title="edit" href="/link/edit/{{link.id}}/%2Fgroup%2F{{link.linkgroup.id}}">
                                E |
                            </a>
                        </li>
                        <li style="width:15px;display:inline">
                            <a style="color:#848484" title="remove" href="/delete/mylink/{{link.id}}">
                                X |
                            </a>
                        </li>
                        <li class="dropdown" style="width:15px;display:inline">
                            <a style="color:#848484" title="move" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span>M</span>
                            <span class="caret"></span></a>
                            
                            <ul class="dropdown-menu pull-right">
                                {% for g in user.groups%}
                                    {% if g.id!=link.linkgroup.id %}
                                    <li >
                                        <a href="/link/move/{{g.id}}/{{link.id}}" class="rss" title="save this link into {{g.group_name}}">
                                            {{g.group_name}}
                                        </a>
                                    </li>
                                    {% end %}
                                {% end %}
                                
                            </ul> 
                        </li>
                        
                    </ul>
                        {% end %}
                        <div class="clip-save-popup"></div>
                        <span class="clip-date"><i class="icon icon-date"></i> {{ link.updated }}</span>
                        <a style="width:500px" title="{{link.description}}" rel="nofollow" class="clip-title" target="_blank" href="{{ link.url }}">{{ link.title }}</a>

                        <p class="domain">
                            
                            <span>{{ link.url_domain }}</span>
                            <span>›</span>
                            <span>added by <a title="{{ group.user.username }}" href="/user/{{ group.user_id }}">{{ group.user.username }}</a></span>
                            <span class="comment-count"><a title="Comment" href="/me/comment/{{link.id}}/%2Fgroup%2F{{group.id}}"><i class="icon icon-comment"></i>
                            {% if link.comments_count > 0%}
                                <strong> {{ link.comments_count }}</strong>
                            {% end %}                           
                                Comment
                            </a></span>
                            <span>
                                <a class="like  " href="#">
                                    <i class="icon icon-like"></i>
                                    <span>
                                        {% if link.like_count > 0 %}
                                            {{ link.like_count}} likes
                                        {% else %}
                                            likes
                                        {% end %}
                                    </span>
                                </a>
                            </span>
                        </p>
                </div>
            </li>
            {% end %}
        </ul>
    </div>
</div>   <!-- /container -->
</div>
{% end %}
