  <li class="clip">
                <div class="clip-content">
                        <a class="clip-save" href="/link/save/{{link.id}}"><i class="icon icon-save"></i> Save</a>
                        <div class="clip-save-popup"></div>
                        <span class="clip-date"><i class="icon icon-date"></i> {{ link.created }}</span>
                        <a rel="nofollow" class="clip-title" target="_blank" href="{{ link.url }}">{{ link.title }}</a>

                        <p class="domain">
                            
                            <span>{{ link.url_domain }}</span>
                            <span>›</span>
                            <span>added by <a title="{{ link.linkgroup.user.username }}" href="/user/{{ link.linkgroup.user_id }}">{{ link.linkgroup.user.username }}</a></span>
                            <span class="comment-count"><a title="Comment" href="#"><i class="icon icon-comment"></i>
                            {% if link.comments_count > 0%}
                                <strong> {{ link.comments_count }}</strong>
                            {% end %}                           
                                Comment
                            </a></span>
                            <span>
                                <a class="like  " href="#">
                                    <i class="icon icon-like"></i>
                                    <span>
                                        {% if link.like_count > 0 %}
                                            {{ link.like_count}} likes
                                        {% else %}
                                            likes
                                        {% end %}
                                    </span>
                                </a>
                            </span>
                        </p>
                </div>
            </li>  