{% extends "main.html" %}

{% block script %}
<script type="text/javascript">

function validate_required(field,alerttxt)
{
    with (field)
    {
        if (value==null||value=="")
        {
            alert(alerttxt);return false
        }
        else 
        {
            return true
        }
    }
}

function validate_form(thisform)
{
    with (thisform)
    {
        if (validate_required(username,"Input username!")==false)
        {
            username.focus();return false
        }
        if (validate_required(password, "Input password!") == false)
        {
            password.focus(); return false
        }
    }
}
</script>
{% end %}
{% block content %}
    <article class="container">
        <div id="login" class="accounts-form">
          <h2>Log in to your account </h2>
          <form action="/login" method="POST" id="auth-form" onsubmit="return validate_form(this)" name="login">
            <h4 class="error_msg">{{ login_msg }}</h4>
            <div class="all-errors">
            </div>
            <div class="input">
                <input id="id_username" type="text" name="username" maxlength="75" placeholder="Username or email"  />
            </div>
            <div class="input">
                <input type="password" name="password" id="id_password" placeholder="Password"  />
            </div>
            <div class="actions clearfix">
                <input type="submit" value="Log In" class="btn btn-green"/>
            </div>
        </form>
    </div>
    <p class="note"><a href="/accounts/password/reset">Forgot your password?</a> &middot; Need an account? <a href="/signup">Sign up</a> </p>    

    </article>
{% end %}

