{% extends "me_options.html" %}
{% block option_body %}

<div class="clearfix">
            <div id="list-info" style="height:60px">
                <h3 title="All Links" class="name">
                    My Nest
                </h3>
            </div>

<hr>
    <div  >
        <h4 style="color:#666;height:35px;padding-left:20px">Follow what's interesting 
            
        </h4>
        <span style="color:#777;padding-left:15px">
            Find what's good by following other friends and groups,or saving links.
        </span>
    </div>
</div>
{% end %}                    

