<!DOCTYPE html>
<html>
	<head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        {% block script %} {% end %}
        <title>{{user.username}} | Sharing Links!</title>
        <meta property="og:image" content="{{static_url("images/share.png")}}">
        <meta property="og:description" content="Share is the best way to collect, share and discover interesting things you find on the web.">
        <meta charset="utf-8">    
        <meta name="author" content="Share">    
        <link rel="shortcut icon" href="{{static_url("images/favicon.ico")}}" type="image/x-icon">
        <link rel="icon" href="{{static_url("images/favicon.ico")}}" type="image/x-icon">

        <link rel="stylesheet" href="{{static_url("css/me1.css")}}" type="text/css">
        <link rel="stylesheet" href="{{static_url("css/me2.css")}}" type="text/css">
        <link rel="stylesheet" href="{{static_url("css/custom.css")}}" type="text/css">
        <link rel="stylesheet" href="{{static_url("css/group.css")}}" type="text/css"> 
       
       
    </head>
<body class="app">
    <div class="topbar">
        <div class="container"> 
        <h3 class="logo"><a href="/me" class="brand"><img src="{{static_url("images/share.png")}}" alt="Share" width="86" height="46"></a></h3>
        <ul class="nav secondary-nav beta-access"> 
                  <li class="nav-discover"><a href="/">Discover</a></li>
              </ul>
        
        <form action="/search/key" method="get" id="search-form">
            <input placeholder="Search your key..." id="search" name="q" type="text"> 
        </form>
        <ul class="nav secondary-nav nav-user">
            <li><a href="/me/staff_picks">Staff Picks</a></li>
            <li><a href="/me/popular_groups">Popular groups</a></li>
            <li><a href="/me/recent_links">Recent links</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span><img src="{{static_url("images/me.jpeg")}}" class="avatar" title="{{user.username}}" height="32" width="32"></span>
                <span class="caret"></span></a>
                
                <ul class="dropdown-menu pull-right">
                    <li class="username">{{user.username}}</li>
                    
                    <li><a href="/me/profile">Public Profile</a></li>
                    <li><a href="#">Import</a></li> 
                    <li><a href="/me/settings/profile">Settings</a></li>
                    <li><a href="/logout">Logout</a></li> 
                </ul> 
            </li>
            
        </ul>
        </div>
    </div>
   
   
<div class="container" id="body">
{% block content %}


{% end %}
</div>

<script src="{{static_url("js/jquery.js")}}"></script>
<script src="{{static_url("js/bootstrap.min.js")}}"></script>
{% block tailjs %} {% end %}
</body>
</html>