{% extends "me_nocontent.html" %}

{% block content %}
  <div class="clearfix row" id="app">
            <div class="span3" id="sidebar">
                <ul class="unstyled" id="lists" style="position: relative;">
                    <li><a class="list-link" data-link="push" href="/me/feed">Feed</a></li>
                    <li><a class="list-link" data-link="push" href="/me/mylinks">All Links</a></li>
                    <li><a class="list-link" data-link="push" href="/me/following">Following</a></li>
                    <li><a class="list-link" data-link="push" href="/me/follower">Follower</a></li>
                    <li style="list-style: none; display: inline">
                        <div id="system-lists">
                        groups:
                        <ul>
                           
                        {% for g in user.groups %}
                            
                                
                                    <li class="list ui-droppable" id="list-299357">
                                        <a data-link="push"
                                        data-list-id="299357" data-list-slug="inbox" href=
                                        "/me/group/{{g.id}}">{{g.group_name}}
                                        </a>
                                    </li>
                                    
                                {% end %}
                         </ul>
                            </div> 
                            <div id="new_list">
                                <a class="add-list" href="/me/addgroup">+ New Group</a>
                            </div>
                        </li>
                    </ul> 
                </div>

    			<div class="main span9">
                    {% block option_body %}
                    <h1>Your Home</h1>
                    <div  >
                        <h2>Follow what's interesting 
                            <small>
                            Find what's good by following your friends and tastemakers.
                            </small>
                        </h2>
                        <a class="btn btn-large btn-green" href="/feed">
                        Discover people and lists to follow
                        </a>
                    </div>
                    {% end %}
    			</div>
            </div>

{% end %}