{% extends "me_options.html" %}

{% block option_body %}
<div id="clips" style="display: block;">
	<div class="clearfix">
    	<div id="list-info">

			<h3 class="name" title="{{group.group_name}}}">
                <a href="/group/{{group.id}}" title="enter this group" style="color:#444" class="clip-title">
    			{{group.group_name}}
   				 <small>
                    {% if group.private==0 %}
   				 	<a href="/group/{{group.id}}" target="_blank" title="View the public list">
   				 		Public
   				 	</a>
                    {% else %}
                    <i class="icon icon-lock"></i>Private
                    {% end %}
   				 </small>
			</h3>
			<ul class="list-actions unstyled">
    			<li class="btn-group">
        			<a class="btn dropdown-toggle settings" data-toggle="dropdown" href="#">
            			<i>
            			</i>
            			<span class="caret">
            			</span>
        			</a>
        			<ul class="dropdown-menu pull-right">
            			<li>
            				<a href="/me/editgroup/{{group.id}}/%2Fme%2Fgroup%2F{{group.id}}" class="edit">
            					Edit
            				</a>
            			</li>
            			<li>
            				<a href="/me/deletegroup/{{group.id}}" class="delete" onclick="return winconfirm();">
            					Delete
            				</a>
            			</li>
        			</ul>
    			</li>
    		</ul>
    	</div>
<script type="text/javascript">

function winconfirm()
{
    if(!confirm("Are you sure you want to delete this list? WARNING: All clips in this list will be removed") ) 
    {
        return false;
    }  

    else
    {
        return true;
    }
    
}
</script>
    	<div id="new-clip">
            <form action="/me/addlink">
                <input type="hidden" value="{{group.id}}" name="hd">
                <input placeholder="Add a link..." type="text" name="url">
            </form>
    	</div>
	</div>
	<div id="clips-container">
        <ul style="display: block;" id="clip-list" class="unstyled">
            {% for link in links %}
            <li data-cid="c24" class="clip ui-draggable">
                <div class="display">
                    <div class="clip-content">
                        <span class="clip-date">
                            <i class="icon icon-date"></i> 
                            {{ link.updated }}
                        </span>
                        <a rel="nofollow" title="{{link.description}}" style="width:500px" class="clip-title" target="_blank" href="{{ link.url }}">
                            <img src="{{static_url("images/link.jpg")}}" style="width:15px;height:15px" >
                            {{ link.title }}
                         </a>
                        <p class="domain">
                            <i class="fav" >
                            </i>
                            <span>
                                {{ link.url_domain }}
                            </span>
                            <span>
                                · <span class="comment-count">
                                    <a href="/me/comment/{{link.id}}/%2Fme%2Fgroup%2F{{group.id}}" title="Comment">
                                        <i class="icon icon-comment">
                                        </i>
                                        {% if link.comments_count > 0%}
                                    <strong> {{ link.comments_count }}</strong>
                                    {% end %}
                                    Comment
                                    </a>
                                </span>
                            </span>
                            <span>
                                {% set id_list = [like.user_id for like in link.likes] %}
                                {% if not user.id in id_list %}
                                <a class="like" href="/like/{{ link.id }}">
                                    <i class="icon icon-like"></i>
                                    <span>
                                        {% if link.like_count > 0 %}
                                            {{ link.like_count}} Likes
                                        {% else %}
                                            Like
                                        {% end %}
                                    </span>
                                </a>
                                {% else %}
                                <a class="like" href="/cancel_like/{{ link.id }}">
                                <i class="icon icon-like"></i>
                                    <span>
                                        cancel
                                    </span>
                                {% end %}
                            </span>
                        </p>
                    </div>
                    <ul class="pull-right" style="list-style:none;font-size:16px">
                        
                        <li style="width:15px;display:inline">
                            <a style="color:#848484" title="edit" href="/link/edit/{{link.id}}/%2Fme%2Fgroup%2F{{group.id}}">
                                E |
                            </a>
                        </li>
                        <li style="width:15px;display:inline">
                            <a style="color:#848484" title="remove" href="/delete/mylink/{{link.id}}">
                                X |
                            </a>
                        </li>
                        <li class="dropdown" style="width:15px;display:inline">
                            <a style="color:#848484" title="move" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span>M</span>
                            <span class="caret"></span></a>
                            
                            <ul class="dropdown-menu pull-right">
                                {% for g in user.groups%}
                                   {% if g.id!=link.linkgroup.id %}
                                    <li >
                                        <a href="/link/move/{{g.id}}/{{link.id}}" class="rss" title="save this link into {{g.group_name}}">
                                            {{g.group_name}}
                                        </a>
                                    </li>
                                    {% end %}
                                    
                                {% end %}
                                
                            </ul> 
                        </li>
                        
                    </ul>
                </div>
            </li>
            {% end %}
        </ul>
    </div>
 </div>
{% end %}

