<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    	<title>me</title>
		<meta property="og:image" content="{{static_url("images/share.png")}}">
		<meta property="og:description" content="Share is the best way to collect, share and discover interesting things you find on the web.">
		<meta property="fb:admins" content="603317924">
    	<meta charset="utf-8">    
        <meta name="google-site-verification" content="aTHx0fECngasT9jjBPd1v4U0rASSCH36eobTv3xqzA8">
    	<meta name="author" content="Share">    
    
    	<link rel="stylesheet" href="{{static_url("css/me1.css")}}" type="text/css">
		<link rel="stylesheet" href="{{static_url("css/me2.css")}}" type="text/css">
	</head>
<body class="app">
	<div class="topbar">
    	<div class="container"> 
        <h3 class="logo"><a href="/" class="brand"><img src="{{static_url("images/share.png")}}" alt="Share" width="86" height="46"></a></h3>
        
        <ul class="nav secondary-nav nav-discover"> 
            <li class="nav-discover"><a href="#">Discover</a></li>
        </ul> 
        <form action="/search" method="get" id="search-form">
            <input placeholder="Search your clips..." id="search" name="q" type="text"> 
        </form>
        <ul class="nav secondary-nav nav-user">
            <li><a href="#">Discover Friends</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span><img src="{{static_url("images/me.jpeg")}}" class="avatar" title="{{user.username}}" height="32" width="32"></span>
                <span class="caret"></span></a>
                
                <ul class="dropdown-menu pull-right">
                    <li class="username">{{user.username}}</li>
                    
                    <li><a href="#">Public Profile</a></li>
                    <li><a href="#">Import</a></li> 
                    <li><a href="#">Settings</a></li>
                    <li><a href="/logout">Logout</a></li> 
                </ul> 
            </li>
            
        </ul>
    	</div>
	</div>
   
<div class="container" id="body">
        <div class="clearfix row" id="app">
            <div class="span3" id="sidebar">
                <ul class="unstyled" id="lists" style="position: relative;">
                    <li><a class="list-link" data-link="push" href="file:///feed">Feed</a></li>
                    <li><a class="list-link" data-link="push" href="file:///feed">All Links</a></li>
                    <li style="list-style: none; display: inline">
                        <div id="system-lists">
                        groups:
                        {% for group in user.groups %}
                            
                                <ul>
                                    <li class="list ui-droppable" id="list-299357"><a data-link="push"
                                    data-list-id="299357" data-list-slug="inbox" href=
                                    "/me/group/{{group.id}}">{{group.group_name}}</a></li>
                                </ul>
                            
                         {% end %}
                         </div> 
                        <div id="new_list">
                            <a class="add-list" href="">+ New Group</a>
                        </div>
                    </li>
                </ul> 
            </div>

            <div class="main span9">
    
        
        
    
    <div id="clips" style="display: block;">
        <div class="clearfix">
            <div id="list-info">
                <h3 title="All Links" class="name">
                    All Links
                </h3>

            </div>
            <div id="new-clip"><input type="text" placeholder="Add a link..."></div>
        </div>
        <div id="clips-container">
            <ul class="unstyled" id="clip-list" style="display: block;">
                {% for link in links %}


                <li class="clip">
                    
                <div class="clip-content">

                        
                        <span class="clip-date"><i class="icon icon-date"></i> {{ link.created }}</span>
                        <a rel="nofollow" class="clip-title" target="_blank" href="{{ link.url }}">{{ link.title }}</a>

                        <p class="domain">
                            <i style="background-image:url('');" class="fav"></i>
                            <span>{{ link.url_domain }}</span>
                            <span class="comment-count"><a title="Comment" href="#"><i class="icon icon-comment"></i>
                            {% if link.comments_count > 0%}
                                <strong> {{ link.comments_count }}</strong>
                            {% end %}                               
                                Comment
                            </a></span>
                            <span>
                                <a class="like  " href="#">
                                    <i class="icon icon-like"></i>
                                    <span>
                                        {% if link.like_count > 0 %}
                                            {{ link.like_count}} likes
                                        {% else %}
                                            likes
                                        {% end %}
                                    </span>
                                </a>
                            </span>
                            <span>
                                <a class="like  " href="#">
                                    <i class="icon icon-edit pull-right"> Edit</i>
                                    
                                </a>
                                
                                <!-- <li class="dropdown">
                                    <a data-toggle="dropdown" class="like" href="#">
                                        <span class="icon icon-edit pull-right">edit</span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li class="username">jg</li>
                                        <li><a href="#">Public Profile</a></li>
                                        <li><a href="#">Import</a></li>
                                        <li><a href="#">Settings</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                    </ul>
                                </li> -->
                            </span>
                        </p>
                </div>
            </li>
               <!--  <li class="clip ui-draggable" data-cid="c178">
                    <div class="display">
                        <div class="clip-content">
                            <div class="drag"></div>
                            <span class="clip-date"><abbr title="2013-03-03T14:27:00.000Z" class="timeago">5d</abbr></span>
                            <a class="clip-title" target="_blank" href="http://stereopsis.com/flux/">f.lux: software to make your life better</a>
                            <div class="edit">
                                <input type="text" value="f.lux: software to make your life better" class="clip-input">
                            </div>
                            <p class="domain"> 
                                <i style="background-image:url('https://www.google.com/s2/u/0/favicons?domain=stereopsis.com');" class="fav"></i>
                                <span>stereopsis.com</span>
                                <span class="list" title="List">Awesome</span>
                                <span>
                                · <span class="comment-count"><a title="Comment" href=""><i class="icon icon-comment"></i>Add comment</a></span>
                                </span>
                                <span><a title="You can't like your own clip" rel="tooltip" class="clip-like isOwn" href="#"><i class="icon icon-like"></i><span>Like</span></a></span>
                            </p>
                        </div>
                        <ul class="actions">
                            <li class="clip-reader"><a title="View in Reader" rel="tooltip" href="">Reader</a></li>
                            <li class="clip-edit"><a title="Edit" rel="tooltip" href="">Edit</a></li>
                            <li class="clip-read-later "><a title="Mark as Read Later" rel="tooltip" href="">Read Later</a></li>
                            <li class="clip-star"><a title="Star" rel="tooltip" href="">Star</a></li>
                            <li class="clip-destroy"><a title="Remove" rel="tooltip" href="">×</a></li>
                        </ul>
                    </div>
                    <div class="notes">
                        <div class="content"><a href="#">software to make your life beautiful</a></div>
                    </div>
                </li> -->
               {% end %}
            </ul>
            <div id="no-clips" style="display: none;">
                <p><strong>Find clips to add to this list</strong>
                    You can add links with extensions, bookmarklets and via email. <a href="/tools/">View the tools</a>
                </p>
                <p class="no-collaborate"><strong>Collaborate with your team.</strong> Invite people to this list and easily share useful links</p>
                <p class="no-public"><strong>Make your list public</strong>. Share the interesting things you find and save.</p>
            </div>
            <div id="no-search-results" style="display: none;">No search results.</div>
            
        </div>
        
    </div>
    
</div>

        </div>
   
</div>
<script src="{{static_url("js/jquery.js")}}"></script>
<script src="{{static_url("js/bootstrap.min.js")}}"></script>
</body>
</html>