{% extends "me_nocontent.html" %}
{% block content %}
<div id="body" class="container">
    <div class="clearfix">
        <div class="app-bg">
            <div class="row">
                <div class="main span12">
                    <div class="profile clearfix">
                        <div class="profile-head row">
                            <div class="profile-head row">
                                <div class="span2">
                                    <img width="130" height="130" class="avatar" src="{{static_url("images/me.jpeg")}}&amp;s=160">
                                </div>
                                <div class="profile-info span6">
                                    <h1>{{u.username}}</h1>
                                    <p>
                                        
                                            {{u.introduction}}
                                        
                                    </p>
                                </div>
                                <div class="profile-extra">
                                        {% set following_list = [usr.follower_id for usr in user.followings] %}
                                        {% if u.id not in following_list %}
                                    <a class="btn" title="Follow" href="/follow/user/{{u.id}}">Follow me</a>
                                        {% else %}
                                        <a class="btn" title="Unfollow" href="/unfollow/user/{{u.id}}">Following</a>
                                        {% end %}
                                    <div>
                                    </div>
                                </div>
                            </div>
                           

                            {% block setting %}
                            <div class="tabbable">
                                  <ul class="nav nav-tabs">
                                      <li class="active">
                                          <a href="#tab1" data-toggle="tab">
                                          List
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#tab2" data-toggle="tab">
                                          Following
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#tab3" data-toggle="tab">
                                          Follower
                                          </a>
                                      </li>
                                  </ul>
                                  <div class="tab-content">
                                      <div class="tab-pane active" id="tab1">
                                          <div class="profile-lists">
                                {% set gcnt = 0 %}

                                {% for group in groups %}
                                {% set gcnt = gcnt + 1 %}
                                {% if group.private==0 %}
                                <div class="list-widget" style="width:350px;height:200px">
                                   {% set following_list = [gg.group_id for gg in user.following_groups] %}
                                    {% if group.id not in following_list %}
                                        <a class="follow" style="" title="follow this group"href="/follow/group/{{group.id}}">Follow</a>
                                    {% else %}
                                        <a class="follow" style="" title="cancel this following"href="/unfollow/group/{{group.id}}">Following</a>
                                    {% end %}
                                        
                                    <a title="{{u.username}}" href="#">
                                        <img style="float:left;width:42px;height:42px" class="avatar" src="{{static_url("images/me.jpeg")}}">
                                    </a>
                                    <div class="list-head">
                                        <h3><a href="/group/{{group.id}}">{{group.group_name}}</a></h3>
                                        <div class="list-meta">by <a href="#">{{u.username}}</a> · {{group.follower_count}} followers
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                                            <a class="list-view" href="/group/{{group.id}}">View all {{group.links_count}} clips ›</a>
                                        </li>
                                    </ul>
                                </div>

                                {% if gcnt == 2 %}
                                     <div class="clearfix"></div>
                                     {% set gcnt = 0 %}
                                
                                {% end %}
                                {% end %}
                                {% end %}
                            </div>
                                      </div>
                                      <div class="tab-pane active" id="tab2">
                                        <div class="profile-lists">
                                          {% for staff in followings %}
                                             <div class="list-widget" style="width:350px;height:150px">
                                                  <a title="{{staff.username}}" href="#">
                                                 <img style="float:left;width:42px;height:42px" class="avatar" src="{{static_url("images/staff1.png")}}">
                                                 </a>
                                                 <div  class="list-head"  style="width:350px;height:40px">
                                                     {% if staff.id!=user.id %}
                                                      {% if staff.id not in following_list %}
                                                          <a class="follow" style="padding-top:3px;top:10px;right:10px" title="follow this user" href="/follow/user/{{staff.id}}">
                                                              Follow
                                                          </a>
                                                      {% else %}
                                                          <a class="follow" style="padding-top:3px;top:10px;right:10px" title="cancel this following"href="/unfollow/user/{{staff.id}}">
                                                              Following
                                                          </a>
                                                      {% end %}
                                                {% end %}
                                                     <h3 style="padding-top:10px"><a href="/user/{{staff.id}}">{{staff.username}}</a></h3>
                                                     
                                                 </div>
                                                 <ul><li>
                                                  {% if staff.introduction %}
                                                     {{staff.introduction}}
                                                     {% else %}
                                                     There is nothing about him/her.
                                                     {% end %}
                                                 </li></ul>
                                             </div>
                                             {% end %}

                                      </div>
                                      </div>
                                      <div class="tab-pane" id="tab3">
                                        <div class="profile-lists">
                                          {% set following_list = [un.follower_id for un in user.followings] %}


                                            {% for staff in followers %}

                                            <div class="list-widget" style="width:350px;height:150px">
                                             <a title="{{staff.username}}" href="#">
                                                <img style="float:left;width:42px;height:42px" class="avatar" src="{{static_url("images/staff1.png")}}">
                                             </a>
                                             <div  class="list-head" style="width:350px;height:40px">
                                              {% if staff.id!=user.id %}
                                                {% if staff.id not in following_list %}
                                                    <a class="follow" style="padding-top:3px;top:10px;right:10px" title="follow this user" href="/follow/user/{{staff.id}}">
                                                        Follow
                                                    </a>
                                                {% else %}
                                                    <a class="follow" style="padding-top:3px;top:10px;right:10px" title="cancel this following"href="/unfollow/user/{{staff.id}}">
                                                        Following
                                                    </a>
                                                {% end %}
                                                {% end %}
                                                <h3 style="padding-top:10px"><a href="/user/{{staff.id}}">{{staff.username}}</a></h3>
                                           </div>
                                             
                                                <ul>
                                                    
                                                    <li>
                                                    {% if staff.introduction %}
                                                        {{staff.introduction}}
                                                    {% else %}
                                                        There is nothing about him/her.
                                                    {% end %}
                                                    </li>
                                                </ul>
                                            </div>
                                            {% end %}
                                       </div>
                                      </div>
                                  </div>
                              </div>

                            {% end %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}