{% extends "me_nocontent.html" %}


{% block content %}
<article class="container">
    <div id="landing">
      <div class="home-discover">
          <div>
              <div class="clearfix">
                  
                  
                  
                {% for group in groups %}
                    

                    <div class="list-widget" >
                     <div > 
                      <a  class="follow" title="follow this group" href="/follow/group/{{group.id}}">
                        Follow
                      </a>
                        <!-- user image -->
                         <a href="/user/{{group.user.id}}" title="{{ group.user.username }}">
                            <img src="{{ static_url("images/avatar.png") }}" width="42" height="42" class="avatar" style="float:left"></a>
                             <!-- list header --> 
                             <div class="list-head"> 
                                <h3><a href="/group/logined/{{ group.id }}">{{ group.group_name }}</a></h3> 
                                <div class="list-meta">by <a href="/user/{{group.user.id}}">{{group.user.username}}</a> - {{ group.follower_count }} followers</div>
                                  </div> 
                                  </div>
                                  <!-- list --> 
                                  <ul> 
                                    {% set cnt = 3 %}
                                    {% for li in group.links %} 
                                    {% if cnt > 0 %}
                                    <li>
                                     <div> 
                                      <a href="/group/{{ group.id }}">{{ li.title }}</a>
                                    </div> 
                                  </li> 

                                  {% set cnt = cnt - 1 %}
                                  {% else %}
                                    {% break %}
                                  {% end %}

                                  {% end %}
                                 <li><a href="/group/{{ group.id }}" class="list-view">View all {{ group.links_count }} clips</a></li> </ul></div>
                            
                {% end %}
                 
            </div>
        </div>
    </div>
</div>
</article> <!-- /container -->
{% end %}