{% extends "me_nocontent.html" %}

{% block content %}
<div id="clips" style="display: block;">
        
        <div id="clips-container">
            <ul class="unstyled" id="clip-list" style="display: block;">
               {% for link in links %}
                <li class="clip">
                <div class="clip-content">
                        <a class="clip-save" href="/link/save/{{link.id}}"><i class="icon icon-save"></i> Save</a>
                        <div class="clip-save-popup"></div>
                        <span class="clip-date"><i class="icon icon-date"></i> {{ link.created }}</span>
                        <a rel="nofollow" class="clip-title" target="_blank" href="{{ link.url }}">{{ link.title }}</a>

                        <p class="domain">
                            
                            <span>{{ link.url_domain }}</span>
                            <span>›</span>
                            <span>added by <a title="{{ link.linkgroup.user.username }}" href="/user/{{ link.linkgroup.user_id }}">{{ link.linkgroup.user.username }}</a></span>
                            <span class="comment-count"><a title="Comment" href="#"><i class="icon icon-comment"></i>
                            {% if link.comments_count > 0%}
                                <strong> {{ link.comments_count }}</strong>
                            {% end %}                           
                                Comment
                            </a></span>
                            <span>
                                <a class="like  " href="#">
                                    <i class="icon icon-like"></i>
                                    <span>
                                        {% if link.like_count > 0 %}
                                            {{ link.like_count}} likes
                                        {% else %}
                                            likes
                                        {% end %}
                                    </span>
                                </a>
                            </span>
                        </p>
                </div>
            </li>  
              
               {% end %}
            </ul>
            <div id="no-clips" style="display: none;">
                <p><strong>Find clips to add to this list</strong>
                    You can add links with extensions, bookmarklets and via email. <a href="/tools/">View the tools</a>
                </p>
                <p class="no-collaborate"><strong>Collaborate with your team.</strong> Invite people to this list and easily share useful links</p>
                <p class="no-public"><strong>Make your list public</strong>. Share the interesting things you find and save.</p>
            </div>
            <div id="no-search-results" style="display: none;">No search results.</div>
            
        </div>
        
    </div>
{% end %}