{% extends "settings_nocontent.html" %}
{% block right %}
<div class="padding">
    <h1>Profile</h1>
    <hr>
    <div class="avatar">
        <img width="200" height="200" style="display:block; min-height: 200px;" title="{{user.username}}" src="{{static_url("images/me.jpeg")}}&amp;s=200">
        <p>Change your avatar at <a target="_blank" href="#">Gravatar.com</a></p>
    </div>  
    <form method="POST" action="/me/settings/profile">
    	<div style="display:none">
    		<input type="hidden" value="l3oYcBCSFFv7tOY1ChjvGNbhRhT6jXnh" name="csrfmiddlewaretoken">
    	</div>
    	<div class="">
            <label for="description">Description</label>
            <div class="input">
                <textarea name="description" cols="40" rows="10" id="id_description">
                    {{user.introduction}}
                </textarea> 
                <div class="footnote">
                	<small>About you in <strong>160</strong> characters</small>
                </div>
            </div>
        </div>
        <div class="">
            <label for="twitter">Twitter</label>
            <div class="input twitter">
                <div class="input-prepend">
                    <span class="add-on">@</span>
                    <input type="text" maxlength="255" name="twitter" id="id_twitter">
                </div>       
            </div>
        </div>
        <div class="">
            <label for="github">GitHub username</label>
            <div class="input github">
                <div class="input-prepend">
                    <span class="add-on">
                    	<img style="margin-top:-2px" src="{{static_url("images/icon-github.png")}}">
                    </span>
                    <input type="text" maxlength="255" name="github" id="id_github">
                </div>   
            </div>
        </div>
        <div class="">
            <label for="dribbble">Dribbble username</label>
            <div class="input dribbble">
                <div class="input-prepend">
                    <span class="add-on">
                    	<img style="margin-top:-2px" src="{{static_url("images/icon-dribbble-small.png")}}">
                    </span>
                    <input type="text" maxlength="255" name="dribbble" id="id_dribbble">
                </div>   
            </div>
        </div>  
        <div class="">
            <label for="website">Website</label>
            <div class="input">
                <input type="text" maxlength="200" name="website" id="id_website">      
            </div>
        </div>  
        <div class="actions">
            <input type="submit" class="btn" value="Save changes">
        </div>
    </form>
    {% end %}
