{% extends "me_nocontent.html" %}
{% block content %}
<div class="clearfix">  
	<div id="settings" class="row main">
        <div class="span3 sidenav">
            <ul>
                <li class="active">
                	<a href="/me/settings/profile">
                		<i class="icon icon-profile"></i>
                		Profile
                	</a>
                </li>
                <li>
                	<a href="/me/settings/account">
                		<i class="icon settings"></i>
                		Account Settings
                	</a>
                </li>
            </ul>
        </div>
        <div class="span9">
            {% block right%}
            {% end %}
        </div>
    </div>
</div>
</div>
{% end %}