{% extends "me_nocontent.html" %}

{% block content %}
<div class="container" id="body">
    <div class="clearfix">
    
<div class="row lookup">
    <div class="main span12 columns">
        <div class="padding">
            <h1>Find interesting people to follow</h1>
            <ul class="find-friends">
                <li><a class="tab-featured" href="/find-friends/">Featured users</a></li>
                <li><a class="tab-twitter" href="/find-friends/twitter/"><i class="icon icon-twitter"></i>Twitter</a></li>
                <li><a class="tab-facebook" href="/find-friends/facebook/"><i class="icon icon-facebook"></i>Facebook</a></li>
                <li><a class="tab-disvoer" href="/discover/">Discover lists</a></li>
            </ul>
            
            <div class="follow-people clearfix">
                
                
                    
<div class="people-widget ">
    
    <a data-type="featured" data-username="kennethreitz" data-api-uri="/api/users/12510/" class="follow" href="#">Follow</a>
    
    <img width="48" height="48" class="avatar" src="https://secure.gravatar.com/avatar/2eccc4005572c1e2b12a9c00580bc86f/?default=https%3A%2F%2Fs3.amazonaws.com%2Fkippt-static%2Fimg%2Fdefault-avatar.jpg&amp;s=160">
    <div>
        <h3><a href="/kennethreitz">kennethreitz</a></h3>
        I'm a minimalist that loves APIs, web services, elegant d...
    </div>
</div>

                
                    
<div class="people-widget ">
    
    <a data-type="featured" data-username="judegomila" data-api-uri="/api/users/13374/" class="follow" href="#">Follow</a>
    
    <img width="48" height="48" class="avatar" src="https://secure.gravatar.com/avatar/25c22f7c755172976162ebbcfb4055d7/?default=https%3A%2F%2Fs3.amazonaws.com%2Fkippt-static%2Fimg%2Fdefault-avatar.jpg&amp;s=160">
    <div>
        <h3><a href="/judegomila">judegomila</a></h3>
        Internet entrepreneur, co-founder of Heyzap.com. Y Combin...
    </div>
</div>

                
                    
<div class="people-widget ">
    
    <a data-type="featured" data-username="joel" data-api-uri="/api/users/16088/" class="follow" href="#">Follow</a>
    
    <img width="48" height="48" class="avatar" src="https://secure.gravatar.com/avatar/46c1c756f36549c2dea0253e1e025053/?default=https%3A%2F%2Fs3.amazonaws.com%2Fkippt-static%2Fimg%2Fdefault-avatar.jpg&amp;s=160">
    <div>
        <h3><a href="/joel">joel</a></h3>
        Founder of Buffer, a smarter way to share. Focused on the...
    </div>
</div>

                
                    
<div class="people-widget ">
    
    <a data-type="featured" data-username="jg" data-api-uri="/api/users/9007/" class="follow" href="#">Follow</a>
    
    <img width="48" height="48" class="avatar" src="https://secure.gravatar.com/avatar/b0734a381b23823745c79e541d530068/?default=https%3A%2F%2Fs3.amazonaws.com%2Fkippt-static%2Fimg%2Fdefault-avatar.jpg&amp;s=160">
    <div>
        <h3><a href="/jg">jg</a></h3>
        Designer &amp; technologist. Making FontLove &amp; Evently.
    </div>
</div>

                
                    
<div class="people-widget ">
    
    <a data-type="featured" data-username="garry" data-api-uri="/api/users/15506/" class="follow" href="#">Follow</a>
    
    <img width="48" height="48" class="avatar" src="https://secure.gravatar.com/avatar/88bc70a80914f2036f24ecfc7b0e4b4d/?default=https%3A%2F%2Fs3.amazonaws.com%2Fkippt-static%2Fimg%2Fdefault-avatar.jpg&amp;s=160">
    <div>
        <h3><a href="/garry">garry</a></h3>
        http://blog.garrytan.com
    </div>
</div>

                
                    
<div class="people-widget ">
    
    <a data-type="featured" data-username="maxfenton" data-api-uri="/api/users/720/" class="follow" href="#">Follow</a>
    
    <img width="48" height="48" class="avatar" src="https://secure.gravatar.com/avatar/0799373e7f49e272c8c147568b9c0b51/?default=https%3A%2F%2Fs3.amazonaws.com%2Fkippt-static%2Fimg%2Fdefault-avatar.jpg&amp;s=160">
    <div>
        <h3><a href="/maxfenton">maxfenton</a></h3>
        Amateur reader. Writer of sloppy markup. Online editor of...
    </div>
</div>

                
                    
<div class="people-widget ">
    
    <a data-type="featured" data-username="karrisaarinen" data-api-uri="/api/users/3/" class="follow" href="#">Follow</a>
    
    <img width="48" height="48" class="avatar" src="https://secure.gravatar.com/avatar/a26b9a225f3a559cf8dc7809d5570cf8/?default=https%3A%2F%2Fs3.amazonaws.com%2Fkippt-static%2Fimg%2Fdefault-avatar.jpg&amp;s=160">
    <div>
        <h3><a href="/karrisaarinen">karrisaarinen</a></h3>
        Co-founder and designer of Kippt (YC S12). Co-founded Rai...
    </div>
</div>

                
                    
<div class="people-widget ">
    
    <a data-type="featured" data-username="jorilallo" data-api-uri="/api/users/1/" class="follow" href="#">Follow</a>
    
    <img width="48" height="48" class="avatar" src="https://secure.gravatar.com/avatar/4e7e29dcdb21812fc9e31fd1884cb74f/?default=https%3A%2F%2Fs3.amazonaws.com%2Fkippt-static%2Fimg%2Fdefault-avatar.jpg&amp;s=160">
    <div>
        <h3><a href="/jorilallo">jorilallo</a></h3>
        Co-founder of Kippt. I love building products.
    </div>
</div>

                
                    
<div class="people-widget ">
    
    <a data-type="featured" data-username="kirill" data-api-uri="/api/users/16210/" class="follow" href="#">Follow</a>
    
    <img width="48" height="48" class="avatar" src="https://secure.gravatar.com/avatar/64078fceecf0d35885853e925c0d369a/?default=https%3A%2F%2Fs3.amazonaws.com%2Fkippt-static%2Fimg%2Fdefault-avatar.jpg&amp;s=160">
    <div>
        <h3><a href="/kirill">kirill</a></h3>
        Founder of Scoutzie.com
Designer, developer, blogger, ro...
    </div>
</div>

                
                
            </div>
        </div>
    </div>
</div>
      <footer>
        <p>
        <a href="/about/">About us</a>
        <a href="/developers/">Developers / API</a>
        <a href="/press/">Press</a>
        <a href="/privacy/">Privacy</a>
        <a href="mailto:hello@kippt.com">Contact</a>
        <a target="_blank" href="http://blog.kippt.com">Blog</a>
        &copy; 2011-2012 Kippt. Crafted with love.</p>
        
        <div class="follow-buttons">
            <div style="vertical-align:middle; margin-right:20px"><a data-show-count="false" class="twitter-follow-button" href="https://twitter.com/kippt">Follow @kippt</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
            <div style="vertical-align:bottom">
                <div data-layout="button_count" data-show-faces="false" data-width="100" data-send="false" data-href="http://facebook.com/kipptapp" class="fb-like"></div>
            </div>
        </div>
        
      </footer>

     <!-- /container -->

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&amp;appId=121498701266437";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17714404-3']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);

    
    _gaq.push(['_setCustomVar', 1, 'Logged in', 'true', 2]);
    _gaq.push(['_setCustomVar', 2, 'Member', 'true', 1]);
    _gaq.push(['_setCustomVar', 4, 'Join month', '3', 1]);
    _gaq.push(['_setCustomVar', 5, 'Join year', '2013', 1]);
    
    
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>


    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>



    </div>

</div>
{% end %}