{% extends "me_nocontent.html" %}

{% block content %}
<div class="container" id="body">
    <div class="clearfix">
        <div class="row lookup">
            <div class="main span12 columns">
                <div class="padding">
                    <div class="follow-people clearfix">
                    	{% for staff in staffs %}
                        <div class="people-widget ">
                            <a data-type="featured" data-username="{{staff.username}}" data-api-uri="/api/users/12510/" class="follow" href="/follow/user/{{staff.id}}">Follow</a>
                            <img width="48" height="48" class="avatar" src="{{static_url("images/staff1.png")}}">
                            <div>
                                <h3><a href="/{{staff.username}}">{{staff.username}}</a></h3>
                               	{% if staff.introduction %}
                                	{{staff.introduction}}
                                {% else %}
                                    There is nothing about him/her.
                                {% end %}
                            </div>
                        </div>
                        {% end %} 
                               
                    </div>
                </div>
            </div>
        </div>
       <!--  <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&amp;appId=121498701266437";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-17714404-3']);
            _gaq.push(['_trackPageview']);
            _gaq.push(['_trackPageLoadTime']);
            
            
            _gaq.push(['_setCustomVar', 1, 'Logged in', 'true', 2]);
            _gaq.push(['_setCustomVar', 2, 'Member', 'true', 1]);
            _gaq.push(['_setCustomVar', 4, 'Join month', '3', 1]);
            _gaq.push(['_setCustomVar', 5, 'Join year', '2013', 1]);
            
            
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <script type="text/javascript">
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script> -->
    </div>
</div>

{% end %}